.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


__pycache__
/.idea
venv
*.log


media/*
!*media

static/*
!static


db.sqlite3


**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

celerybeat-schedule

geckodriver.log