{% load i18n movie_tag %}
    <!-- header -->
    <header class="header" style="position:fixed;">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1> <a href="{% url 'main_page' %}" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">DjangoMovie</a></h1>
                </div>

                <ul class="menu mt-2">
                    <li class="active"><a href="{% url 'main_page' %}">{% trans "Главная" %}</a></li>
                    <li>
                        <label for="drop-2" class="toggle">{% trans "Категории" %} <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                        <a href="#">{% trans "Категории" %} <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            {% get_categories as categories %}
                            {% for category in categories %}
                            <li><a href="{% url 'movies_by_category' slug=category.url %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                        <label for="drop-3" class="toggle">{% trans "Пользователь" %} <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                        <a href="#">{% trans "Пользователь"  %}: {{ user.username }} <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-3">
                        <ul>
                            <li><a href="{% url 'profile' pk=user.profile.id %}">Профиль</a></li>
                            <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                        </ul>
                        {% else %}
                        <a href="{% url 'account_login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans "Вход" %}
                        </a>
                        <a href="{% url 'account_signup' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans "Регистрация" %}
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                            selected {% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go">
                        </form>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!--/banner-->
    <div class="banner-info">
        <p class="editContent" >лучший сайт на django 3</p>
        <h3 class="mb-4 editContent">Все о кино</h3>
        <div class="ban-buttons">
        </div>
    </div>
