{% extends 'movies/base.html' %}
{% load i18n static %}
{% block title %} Все о кино {% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block movie %}
    <div class="left-ads-display col-lg-9">
        <ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="{% url 'movie_list_most_view' how_sort='mostviews' %}" class="editContent">{% trans 'Отсортировать по лучшим' %} <img src="{% static 'images/fingerup.png' %}" style="height:20px;"></a>

    </li>
    <li class="breadcrumb-item editContent">
        <a href="{% url 'movie_list_most_view' how_sort='lessviews' %}" class="editContent">{% trans 'Отсортировать по худшим' %}<img src="{% static 'images/fingerdown.png' %}" style="height:25px;"></a></li>
</ol>
        <div class="row">
            {% for movie in object_list %}
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4" >
                    <div class="men-thumb-item">
                        <a href="{{ movie.get_absolute_url }}" class="editContent" >
                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="" >
                        </a>
                    </div>
                    <div class="item-info-product">
                        <h4 class="">
                            <a href="{{ movie.get_absolute_url }}" class="editContent" >
                                {{ movie.title }}
                            </a>
                        </h4>
                        <div class="product_price">
                            <div class="grid-price">
                                <a href="{{ movie.get_absolute_url }}" class="editContent" >
                                <span class="money editContent" >{{ movie.tagline }}</span>
                                </a>
                            </div>
                        </div>
                        <ul class="stars">
                            {% for x in range %}
                                {% if movie.get_rating >= forloop.counter %}
                            <li><span class="fa fa-star" aria-hidden="true" ></span></li>
                                {% else %}
                            <li><span class="fa fa-star-o" aria-hidden="true" ></span></li>
                                {% endif %}
                            {% endfor %}
                            {% if user.is_authenticated %}
                            <br><hr>
                                <form action="{% url 'add_to_favourite' pk=movie.id %}" method="post" >
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Добавить в избранные">
                                </form>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
          <div class="grid-img-right mt-4 text-right bg bg1" >
            {% include 'include/pagination.html' %}
        </div>
    </div>
{% endblock movie %}