{% extends 'base.html' %}
{% load static i18n %}
{% block link %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock link %}
{% block content %}
<div class="container">
    <h2 class="mt-5 mb-5">{% trans 'Информация о профиле' %}:</h2>
    <div class="row">
        <div class="col-8">
        <table class="table table-dark">
  <tbody>
    <tr>
      <th>{% trans 'Логин' %}:</th>
      <td>{{ profile.user.username }}</td>
    </tr>

    <tr>
      <th>{% trans 'Почта' %}:</th>
      <td>{{ profile.user.email }}</td>
    </tr>

  <tr>
      <th>{% trans 'Избранные фильмы' %}:</th>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
        {% trans 'Смотреть' %}
    </button></td>
    </tr>
    <tr>
        <th>{% trans 'Аватар' %}</th>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">{% trans 'Выбрать' %}</button></td>
    </tr>

<!--Modal window-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">{% trans 'Мои избранные фильмы' %}:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for fm in profile.favourite_movies.all %}
          <a href="{{ fm.get_absolute_url }}">{{ fm.title }} -- <img src="{{fm.poster.url}}" style="height:70px;"></a><br>
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!--  -->
    <form method="post" action="{% url 'change_avatar' pk=profile.id %}">
        {% csrf_token %}
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Выбери аватар:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">

          {% for logo in logos %}
            <div class="form-group" style="padding-left:10px;">
    <input class="form-check-input" type="radio" name="logo" id="exampleRadios{{ forloop.counter }}" value="{{logo.id}}">
    <label class="form-check-label" for="exampleRadios{{ forloop.counter }}">
        <img src="{{ logo.logo.url }}" style="height:150px;">
    </label>
            </div>

          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
    </form>

  </tbody>
</table>
            </div>
        <div class="col-2">
            {% if profile.logo %}
                <img src="{{profile.logo.logo.url}}" style="height:218px;">
            {% else %}
                <img src="{% static 'images/nouser.png' %}" style="height:218px;">
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
